{% extends 'base.html.twig' %}

{% block title %}Desserts index
{% endblock %}

{% block body %}

	{% include "partials/navbarFixed.html.twig" %}

	<section class="crud">
		<h1>Desserts index</h1>

		<table class="table">
			<thead>
				<tr>
					<th>Id</th>
					<th>Title</th>
					<th>Description</th>
					<th>Price</th>
					<th>actions</th>
				</tr>
			</thead>
			<tbody>
				{% for dessert in desserts %}
					<tr>
						<td>{{ dessert.id }}</td>
						<td>{{ dessert.title }}</td>
						<td>{{ dessert.description }}</td>
						<td>{{ dessert.price }}</td>
						<td class="button">
							{{ include('admin/desserts/_delete_form.html.twig') }}
							<a href="{{ path('app_admin_desserts_edit', {'id': dessert.id}) }}"><i class="fa-solid fa-pen"></i></a>
						</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="5">aucun dessert n'a été trouvé</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>

		<a href="{{ path('app_admin_desserts_new') }}">Créer</a>
	</section>
{% endblock %}
