<section class="faq" id="about">
	<div class="header-faq">
		<h2>Questions fréquemment posées</h2>
		{% for question in questions %}
			<div class="faq-item">
				<button class="faq-question" onclick="toggleFaq('answer{{ loop.index }}')" data-target="answer{{ loop.index }}">{{ question.title }}</button>
				<div class="faq-answer" id="answer{{ loop.index }}">
					<p>{{ question.description }}</p>
				</div>
			</div>
		{% endfor %}
	</div>
</section>

{% block javascript %}
	<script src="{{ asset('js/question.js') }}"></script>
{% endblock %}
