<div id="carte">
	<div class="container">
		<section class="section-title text-center">
			<h2>Carte</h2>
			<p>Nous travaillons des
				<span>produits frais de saison</span>
				en grande partie locaux. Au déjeuner, venez découvrir notre menu qui change
				<span>chaque jour</span>
				avec au choix une <span>formule 2 ou 3 plats (18€ à 23€)</span>. Ces tarifs sont à considérer hors jours fériés.											
				Et laissez-vous tenter par notre
				<span>menu carte de 34€ à 45€ le soir</span>.
																			
				Nos vins sont sélectionnés avec attention. Ils sont de préférence issus de la région.</p>
		</section>
		<div class="row">
			<div class="col-xs-12 col-sm-6">
				<section class="menu-section special">
					<h2 class="menu-section-title">Infos Spécials</h2>
					<p>Tous les plats étant réalisés maison, nous nous adaptons à toutes demandes particulières : repas sans lactose, sans gluten, végétarien.... dans la mesure du possible...
						<br><br>
						Nous faisons les bons cadeaux. Contactez-nous pour en savoir plus...
						<br><br>
						Aprés de nombreuses incivilités, les animaux ne sont plus accepté.
						<br><br>
						Le restaurant sera fermé du samedi 28 Octobre au mercredi 1er Novembre inclus.
						<br><br>
						Reprise le jeudi 2 Novembre au déjeuner.</p>
				</section>
			</div>
			<div class="col-xs-12 col-sm-6">
				<section class="menu-section">
				{% if is_granted('ROLE_ADMIN') %}
					<a class="editCrud" href="{{ path('app_admin_entree_index') }}">Modifier <i class="fa-solid fa-pen"></i></a>
				{% endif %}
					<h2 class="menu-section-title">Entrées</h2>
					{% for entree in entrees %}						
						<div class="menu-item">
							<div class="menu-item-name">{{ entree.title }}
								<div class="menu-item-price">
									<span>{{ entree.price }} €</span> 
								</div>
							</div>
							<div class="menu-item-description">
								{{ entree.description }}
							</div>
						</div>
					{% endfor %}
				</section>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-sm-6">
				<section class="menu-section">
				{% if is_granted('ROLE_ADMIN') %}
					<a class="editCrud" href="{{ path('app_admin_plats_index') }}">Modifier <i class="fa-solid fa-pen"></i></a>
				{% endif %}
					<h2 class="menu-section-title">Plats</h2>
					{% for plat in plats %}	
						<div class="menu-item">					
							<div class="menu-item-name">{{ plat.title }}
								<div class="menu-item-price">
									<span>{{ plat.price}} €</span>
								</div>
							</div>
							<div class="menu-item-description">
								Lorem ipsum dolor sit amet, consectetur adipiscing elit, duis sed dapibus leo nec ornare diam.
							</div>
						</div>
					{% endfor %}
				</section>
			</div>
			<div class="col-xs-12 col-sm-6">
				<section class="menu-section">
				{% if is_granted('ROLE_ADMIN') %}
					<a class="editCrud" href="{{ path('app_admin_plats_index') }}">Modifier <i class="fa-solid fa-pen"></i></a>
				{% endif %}
					<h2 class="menu-section-title">Desserts</h2>
					{% for dessert in desserts %}						
					<div class="menu-item">
						<div class="menu-item-name">Chocolate Mud Cake
							<div class="menu-item-price">
								$11
							</div>
						</div>
						<div class="menu-item-description">
							Lorem ipsum dolor sit amet, consectetur adipiscing elit, duis sed dapibus leo nec ornare diam.
						</div>
					</div>
					{% endfor %}
				</section>
			</div>
		</div>
	</div>
</div>
